<div class="container">
  <!--<input type="button" class="btn btn-primary" (click)="loadaddnew()" data-toggle="modal" data-target="#myModal" value="Create New">-->
  <ngbd-modal-component [id]="0"></ngbd-modal-component>
  <hr>

  <div *ngIf="!dataavailable">
    <h4> No Employee Data is present - Click Add new to add Data.</h4>
  </div>

  <table class="table" *ngIf="dataavailable">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">First name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">EmployeeId</th>
        <th scope="col" style="align-content: center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of emplist let i = index ">
        <td scope="col">{{i+1}}</td>
        <td scope="col">{{e.firstName}}</td>
        <td scope="col">{{e.lastName}}</td>
        <td scope="col">{{e.employeeData.email}}</td>
        <td scope="col">{{e.employeeData.gender=="1"?'Male':'Female'}}</td>
        <td scope="col">{{e.employeeId}}</td>
        <td scope="col">
          <!--<button type="button" class="btn btn-default btn-primary" (click)="loadnewform(e.employeeId,e.email,e.firstName,e.lastName,e.gender)" data-toggle="modal" data-target="#myModalEdit">
    <span class="glyphicon glyphicon-edit"></span> Edit
  </button>-->
          <ngbd-modal-component [id]="e.employeeId"></ngbd-modal-component> |
          <button type="button" class="btn btn-default btn-danger" (click)="deleteconfirmation(e.employeeId)">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--<ngbd-modal-basic></ngbd-modal-basic>-->


  <!--<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-primary">Employee Add</h4>
        </div>
        <div class="modal-body">

          <app-employee-add #empadd (nameEvent)="refreshdata($event)"></app-employee-add>

        </div>
        <div class="modal-footer">
          <button type="button" #closeBtn class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>-->
  <!--<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Edit</h4>
        </div>
        <div class="modal-body">

          <app-employee-update #editform (nameEvent)="refreshdata($event)" [isReset]="resetForm"></app-employee-update>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>-->
</div>


